<div class="header">

    <div class="header__main" id="stickyHeader" [class.sticky]="sticky" #stickHeader>

        <div class="header__left">
            <a routerLink= "/">
                <img src="assets/Netflix/netflix.svg" alt="logo">
            </a>
        
            <ul>
                <li><a href="#">Trending</a></li>
                <li><a href="#">Top rated</a></li>
                <li><a href="#">Now playing</a></li>
                <li><a href="#">Originals</a></li>
            </ul>
        </div>

        <div class="header__right">
            <ul>
                <li><a href="#"><mat-icon>search</mat-icon></a></li>
                <li><a href="#"><mat-icon>card_giftcard</mat-icon></a></li>
                <li><a href="#"><mat-icon>notifications</mat-icon></a></li>
                <li>
                  <img src="assets/pdp.jpg" alt="avatar" class="avatar">
                </li>
              </ul>
        </div>

    </div>

</div>
